:root {
  --bg-start: #087ccf;
  --bg-end: #1b1a78;
  --text: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text);

  background: linear-gradient(90deg, var(--bg-start) 0%, var(--bg-end) 100%);
  background-attachment: fixed;
}

.page {
  min-height: 100%;
  position: relative;
}

.site-section {
  background: transparent !important;
}
